.App {
    font-family: sans-serif;
    max-width:600px;
    margin: 0 auto;
}

.App footer {
    margin:10px;
    max-width: 600px;
    font-size:12px;
    color:rgb(0, 0, 0);
}

.ocLink {
    color:white;
}

html, body {
    background: #D5D7EF;
background: -webkit-linear-gradient(top, #f0f1ff, #2f4499);
background: -moz-linear-gradient(top, #fafbff, #2d439b);
background: linear-gradient(to bottom, #D5D7EF, #304494);
background-attachment: fixed;
background-repeat: no-repeat;
}