.WeatherForecast {
    text-align: center;
}

.WeatherForecast .temperature-one-max {
    color: black;
}

.WeatherForecast .temperature-one-min {
    color: rgb(150, 150, 150);
    margin-left: 5px;
}

.WeatherForecast .forecast-one {
    color:grey;
}

.WeatherForecast canvas {
    margin-top: 5px;
}
